/.idea
/workspace.xml
/out
/lib
/bin


# Ignorar archivos generados automáticamente
*.class
*.jar
*.form
*.classpath
*.project

# Ignorar archivos de configuración local
.vscode/
.idea/

# Ignorar archivos de compilación
/target/
/out/
