@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

#usar, #descartar{
    background-color: #FF3131; 
    color: #F9F0DE; 
    padding: 10px 20px; 
    text-align: center; 
    font-size: 15px; 
    border: #F9F0DE;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    font-family: "Poppins", sans-serif;
}

#usar{
    margin-left: 30%;
}

#usar:hover, #descartar:hover {
    background-color: #022135; 
}