@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: url("../images/Base.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.2);
}

.container{
    border: solid 1px rgba(255, 255, 255, 0.2);
}

table{
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 700px;
}

thead{
    background: linear-gradient(to right, #022135, #033a61);
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

tbody{
    background: rgba(39, 39, 39, 0.2);
    text-align: center;
}