@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/RUTA.png') no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

h1{
    font-size: 36px;
    text-align: center;
}

.box {
    width: 80%;
    height: 60%;
    margin-left: 0%;
    background: #FF3131;    
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #F9F0DE;
    border-radius: 10px;
    padding: 30px 40px;
    align-items: center;
    display: inline;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
}

#fin{
    text-align: center;
}

i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

