@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/RUTA.png') no-repeat;
    background-size: cover;
    background-position: center;
}

#unirse {
    background-color: #FF3131; 
    color: #F9F0DE; 
    padding: 18px 30px; 
    text-align: center; 
    display: inline-block;
    font-size: 20px; 
    width: 100%;
    border: white;
    border-radius: 40px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#unirse:hover {
    background-color: #022135; 
}

#panel {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 20vh;
}
